/* more info */
.moreinfo {
  width: 25%;
}

.moreinfo__img {
  width: 100%;
  height: 15%;
  object-fit: cover;
}

.moreinfo__list {
  background-color: rgb(220, 220, 220);
  padding: 10px;
}

.moreinfo-item {
  padding: 5px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.moreinfo-item__img {
  border: 4px solid #fff;
}

.moreinfo__heading {
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.moreinfo-item__desc {
  font-size: 12px;
}

.moreinfo-item__author {
  color: #7a7a7a;
  font-size: 11px;
  margin-top: 5px;
}

/* focus */
.moreinfo__focus--heading {
  background-color: cyan;
}

/* popular */
.moreinfo__popular {
  margin-top: 30px;
}

.moreinfo__popular--heading {
  background-color: orange;
}
