html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* common */
.iframe__main {
  height: 1000px;
  width: 100%;
}

/* ============================================ header ============================================*/
.nav__container {
  background-color: #11acc5;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin: -2px auto 0 auto;
}

.nav__list::after {
  position: absolute;
  content: "";
  width: 100%;
  top: 2px;
  left: 0;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.nav__list::before {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 2px;
  left: 0;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.nav-item {
  z-index: 1;
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -62px;
  width: 1px;
  height: 18px;
  background-color: #fff;
}

.nav-item a {
  padding: 10px;
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.4rem;
  display: block;
  position: relative;
}

.nav-item a::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 4px;
  background-color: #fff;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.nav-item:hover>a::after {
  transform-origin: left;
  transform: scale(1);
}

.nav-item:hover:not(.menu__sub--item) {
  background-color: rgba(0, 0, 0, 0.1);
}

.header__img {
  width: 100%;
}

/* ========================================= search =================================================== */
.header__notice {
  height: 40px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d7d5d5;
}

.header__notice h2 {
  color: #173080;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.icon-dot {
  font-size: 0.4rem;
  margin-right: 4px;
  vertical-align: middle;
}

.header__search {
  height: 40px;
  width: 100%;
  background: linear-gradient(to bottom, #ebebeb, #dfdfdf);
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.marquee {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee__list {
  display: flex;
  animation: marquee 30s linear infinite;
  list-style: none;
  padding: 4px;
  margin: 0;
}

.marquee__item {
  flex: 0 0 auto;
  margin-right: 50px;
}

.marquee__link {
  display: inline-block;
  white-space: nowrap;
  font-size: 1.4rem;
}

.marquee__list a:hover {
  color: red;
}

.marquee:hover .marquee__list {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* menu search header */
.menu__search {
  height: 40px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7d5d5;
  position: relative;
}

.wrap__search {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #999;
  background-color: #fff;
}

.looking-for {
  color: #000;
}

.icon-search {
  font-size: 1.8rem;
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer;
  padding-left: 8px;
}

#search {
  width: 220px;
  outline: none;
  border-bottom: 3px solid #ccc;
  background: transparent;
  border: none;
}

/* ============================================ main ============================================*/
.menu__main {
  position: relative;
}

.menu__main:hover .menu__sub {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.3s ease;
}

.icon-down {
  margin-left: 5px;
}

.nav-item:hover .icon-down {
  rotate: -90deg;
  padding-bottom: 0;
  transition: rotate 0.5s ease;
}

.menu__sub {
  position: absolute;
  visibility: hidden;
  width: 120px;
}

.menu__sub--item::after {
  position: absolute;
  content: "";
  top: -4px;
  right: 0;
  left: 0;
  width: 120px;
  height: 10px;
  background: transparent;
}

.menu__sub--item {
  background-color: #11acc5;
  border-radius: 2px;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.75);
}

.menu__sub--item:first-child {
  margin-top: 5px;
}

.menu__sub--item a {
  text-align: center;
}

.menu__sub--item:not(:last-child) {
  border-bottom: 1px solid #ffffff;
}

.menu__sub--item:hover {
  background-color: rgb(17 187 216);
}

/* ============================================ footer ============================================*/
footer {
  background-color: green;
}

.footer__inner {
  padding: 100px 100px;
}

.footer__heading {
  color: white;
  text-align: center;
}