:root {
  --border--scocial: 2px solid #5b5b5b;
}

.introduce {
  display: flex;
}

.introduce-inner {
  flex: 1;
  padding: 20px;
}

.introduce-inner__heading {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.introduce-inner__desc {
  margin-top: 15px;
}

.social__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
  border-top: var(--border--scocial);
  border-bottom: var(--border--scocial);
}

.social__icon {
  font-size: 25px;
  cursor: pointer;
}

.social__icon:not(:first-child) {
  margin-left: 10px;
}

.social__icon:hover {
  color: rgb(244, 55, 55);
}

.email__container {
  display: flex;
  align-items: center;
}

.email__text {
  margin-left: 7px;
}
