* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.form__container {
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: rebeccapurple;
    background: url(../../img/gopy/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    backdrop-filter: blur(50px);
    background: transparent;
    margin-top: 150px;
}

label {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrap__contact {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.form-group {
    flex: 1;
}

.wrap__btn {
    display: flex;
    gap: 16px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    background-color: #A9C9FF;
    background-image: linear-gradient(45deg, #F7DBCB 0%, #D6E5E0 100%);
    color: #000;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #ccc;
}

button:hover {
    background-color: indigo;
}