* {
  text-align: left;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

.lienhe__row {
  display: flex;
}

.lienhe-info {
  background: rgb(7, 128, 224);
  background: linear-gradient(
    207deg,
    rgba(7, 128, 224, 1) 51%,
    rgba(2, 200, 219, 1) 96%
  );
  color: white;
  width: 40%;
  padding: 30px 8px 60px;
}

.lienhe-info p {
  margin-top: 20px;
}

.lienhe-info__heading {
  font-size: 18px;
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}

.lienhe__postmessage {
  padding: 30px;
  flex: 1;
}

.form-item {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.form-item:not(:last-child) .lienhe__input {
  padding: 10px 0px 10px 30px;
}

.lienhe__input {
  width: 100%;
}

.icon {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
