* {
  text-align: center;
}

.lienhe__row {
  display: flex;
}

.lienhe-info {
  background-color: rgb(208, 208, 208);
  background: url(../../img/lienhe/background.jpg);
  color: white;
  width: 30%;
}

.lienhe-info__heading {
  font-size: 30px;
}

.lienhe-info__address {
  margin-top: 80px;
}

.lienhe__postmessage {
  flex: 1;
}
