* {
  text-align: left;
}

.lienhe__row {
  display: flex;
}

.lienhe-info {
  background: rgb(7, 128, 224);
  background: linear-gradient(
    207deg,
    rgba(7, 128, 224, 1) 51%,
    rgba(2, 200, 219, 1) 96%
  );
  color: white;
  width: 40%;
  padding: 8px;
}

.lienhe-info p {
  margin-top: 20px;
}

.lienhe-info__heading {
  font-size: 18px;
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}

.lienhe-info__address {
}

.lienhe__postmessage {
  flex: 1;
}
